.popup__title {
    font-size: 40px;
    margin: 0px 0px 1em 0px;
}

.popup__item {
    margin-bottom: 20px;
}

.popup__label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

.popup__input {
    height: 40px;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
}

.options__input {
    display: none;
}

.options__input:checked + .options__label::after {
    transform: scale(1);
}

.options__label {
    font-size: 18px;
    display: inline-flex;
    line-height: 130%;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.options__label::before {
    content: '';
    align-self: flex-start;
    flex: 0 0 24px;
    height: 24px;
    background-color: rgba(52, 58, 173, 0.587);
    border-radius: 50%;
    margin-right: 10px;
}
.options__label::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    background-color: rgb(252, 205, 205);
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.3s ease;
}

.options {
    padding-top: 10px;
}

.options__item {
    margin-bottom: 10px;
}

.options__title {
    font-size: 18px;
}

textarea.popup__input {
    resize: vertical;
    min-height: 120px;
}

.popup__button {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 187, 97);
    color: rgba(0, 0, 0, 0.8);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
}

.popup__button:hover {
    transform: scale(1.05);
}

.popup__button:active {
    transform: scale(1);
}
