* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: sans-serif;
    min-height: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(252, 205, 205);
}

.header {
    height: 100px;
    text-align: center;
    background-color: rgb(220, 187, 97);
    margin: 0px 0px 50px 0px;
    padding: 10px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.item {
    position: relative;
    width: 30%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid rgba(7, 223, 219, 0.468);
    margin: 10px;
    transition: 0.3s ease-in-out;
}

.heading__1 {
    color: #fff;
}

.button {
    position: absolute;
    bottom: 40px;
    padding: 5px;
}

.button:hover {
    font-weight: 700;
}

.button:active {
    background-color: rgb(173, 188, 109);
    color: #fff;
}

@media (max-width: 800px) {
    .item {
        width: 45%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(7, 223, 219, 0.468);
        margin: 5px;
        background-color: #fff;
    }
    .container {
        width: 780px;
    }
    .header {
        margin: 0px 0px 20px 0px;
    }
}

@media (max-width: 450px) {
    .item {
        width: 95%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(7, 223, 219, 0.468);
        margin: 5px;
        background-color: rgb(201, 194, 194);
    }
    .container {
        width: auto;
    }
    .header {
        margin: 0px 0px 10px 0px;
    }
    .content {
        margin: 0px 0px 10px 0px;
    }
}

.footer__content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(52, 58, 173, 0.587);
    height: 100px;

}

.social {
    color: aqua;
    text-decoration: none;
    font-size: 30px;
    margin-right: 40px;
}

.social:last-child {
    margin-right: 0;
}

.heading {
    font-size: 3rem;
    padding-top: 20px;
}

.blue {
    background-color: blue;
    transition: 0.3s ease-in-out;
    opacity: 0.5;
}

.blue b {
    display: block;
}
.red {
    background-color: red;
    transition: 0.3s ease-in-out;
}

.hide {
    display: none;
}

.form {
    text-align: center;
}

label {
    font-size: 25px;
}

::placeholder {
    text-align: center;
    color: #fff;
    opacity: 0.4;
    transition: all 0.5s ease-in-out;
}

input {
    text-align: center;
    height: 30px;
    font-size: 25px;
    border: none;
    background: none;
    border-bottom: 1px solid rgba(52, 58, 173, 0.587);
    max-width: 100%;
    color: #fff;
}

input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(52, 58, 173, 0.587);
}

:focus::-webkit-input-placeholder {
    color: transparent
  }
  
  :focus::-moz-placeholder {
    color: transparent
  }
  
  :focus:-moz-placeholder {
    color: transparent
  }
  
  :focus:-ms-input-placeholder {
    color: transparent
  }
